 @media screen and (max-width: 576px) {
    .banner-section input, select {
        display: block;
        margin: 10px 0;
        margin-left: 53px;
        padding-left: 0px;
     }
     .banner-content button { 
        display: block;
        margin: 10px 0;
        margin-left: 53px;
     }
     header { 
        width: 100%;
     }
     .banner-container h2{ 
        font-size: 36px;
        margin-top: -10px;
     }
     .banner-container p { font-size: 14px;}
     .banner-content {
        width: 300px;
        margin: 0 auto;
    }
    .main-container{  
      width: 100%;
        flex-direction: column;
       
        
    }
    .text-content h2 { width: 356px;}
   .text-content p {
      width:350px;
   }
   .text-content ul { width: 300px;}

    .view-container img { display: grid;
      grid-template-columns: repeat(1,1 fr);
      width: 350px;
      
   }
   .view-content img { 
      gap: 10px;
      margin-top: 10px;
   }

    .detail { width: 350px;
   text-align: center;}



   .about-container div{ display: grid;
   grid-template-columns: repeat(1, 1 fr);
   width: 350px;
   
   }
   .about-container div p { text-align: center;
   width: 350px;}
   .hotel-content { margin-top: 35px;}

   .newsletter-container {  flex-direction: column;
   }  

   .letter-content { 
      width: 330px;
      margin-top: 45px;
   }
   .letter-content input{ 
      width: 330px;
      gap: 10px;
      margin-top: 10px;
   }
   .letter-content button { width: 330px;
   margin-top: 10px;}
   .news-img { 
      width: 100%;
   }
   .news-img img { width: 380px;
   height: 200px;}

 footer {width: 380px;
margin-top: 15px;
}
.footer-container p { width: 350px;}

 }