 @media screen and (max-width: 576px) {
    .banner-section input, select {
        display: block;
        margin: 10px 0;
        margin-left: 53px;
        padding-left: 0px;
     }
     .banner-content button { 
        display: block;
        margin: 10px 0;
        margin-left: 53px;
     }
     header { 
        width: 100%;
     }
     .banner-container h2{ 
        font-size: 36px;
        margin-top: -10px;
     }
     .banner-container p { font-size: 14px;}
     .banner-content {
        width: 300px;
        margin: 0 auto;
    }
    .main-container{  
        flex-direction: column;
        width: 100%;
        
    }
    .view-container { flex-direction: column;}
 }