* {
    font-family: Mulish;
}

header {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin: 0 auto;
}

.banner-section {
    text-align: center;
    border-radius: 16px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);


}

.banner-container {
    padding-top: 40px;

}

.banner-content {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 850px;
    padding: 16px;
    margin: 0 auto;
}

.banner-content input,
select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
    padding-left: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

.banner-content button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

.banner-container h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;

}

.banner-container p {
    color: #FFF;
    margin-bottom: 50px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-section {}







.main-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 40px;
}

.text-content {
    width: 50%;
    text-align: justify;
    padding: 10px;

}

.text-content h2 {
    color: #131318;
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.text-content p,
ul {
    color: rgba(19, 19, 24, 0.70);
    width: 570px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.text-content button {
    width: 174px;
    height: 52px;
    text-decoration: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    outline: none;
}

.img-content img {
    width: 100%;
}

.img-content {
    text-align: center;
    margin-top: 50px;
}







.view-container {
    width: 1170px;
    margin: 0 auto;
}

.view-container h2 {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.view-container p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    weight: 643px;
}

.view-content img {}







.about-container {
    width: 1170px;
    margin: 0 auto;
    border: 2px solid blueviolet;
    
}

.about-content {}

.about-content h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.about-content p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    width: 643px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.flex-content { 
    display: flex;
}
.hotel-content {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel-content h2 {
    color: #131318;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hotel-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}

.world-content {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.world-content h2 {
    color: #131318;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.world-content p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}

.price-content {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.price-content h2 {
    color: #131318;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.price-content p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}






.newsletter-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
}

.letter-content {
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 20px;
    text-align: center;
}

.letter-content h2 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.letter-content p {
    color: #5A5A5D;
   text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 350px;
}

.letter-content input {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.letter-content button {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

.news-img {
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
}

.news-img img {}

.discount {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
}

.discount h4 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.discount h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

footer { width: 1440px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
margin: 0 auto;}

.footer-container {
}

.footer-container img {
    width: 40px;
    height: 46.673px;
    
}

.footer-container h3 {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.footer-container span {
    color: #FF5400;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-container p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}